doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title #{title} - Where
        //meta(name='description', content='')
        //meta(name='csrf-token', content=_csrf)
        //link(rel='shortcut icon', href='/images/favicon.png')
        link(rel='stylesheet', href='https://srct.gmu.io/masonstrap/css/masonstrap.min.css')

        block extra_head

    body
        block content

        script(async defer src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://srct.gmu.io/masonstrap/js/masonstrap.min.js')

